{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>UTENTI:</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Utente</th>
					<th>Ordini</th>
				</tr>

				{% for user in users %}

				<tr>
					<th><a class="btn btn-sm btn-info" href="{% url 'customer' user.id  %}"> Visualizza </a> </th>
					<td> {{user.name}}</td>
					<td> {{user.email}}</td>

				</tr>

				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>ULTIMI 5 ORDINI</h5>
		<hr>
			<table class="table table-sm">
				<tr>
					<th>Id Ordine</th>
					<th>Data ordine</th>
					<th>Stato</th>
					<th>Aggiorna</th>
					<th>Rimuovi</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td> {{order.id}}</td>
					<td> {{order.date}}</td>
					<td> {{order.status}}</td>
					<td> <a class="btn btn-sm btn-info"  href="{% url 'update_order' order.id %}">Aggiorna</a> </td>
					<td> <a class="btn btn-sm btn-danger"  href="{% url 'delete_order' order.id %}">Rimuovi</a> </td>

				</tr>

				{% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}

